# Dependencies
node_modules/
package-lock.json
yarn.lock

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress.env.json

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

.env

